@import "./variables";

.links {
    text-decoration: underline;
    color: $primaryYellow;

    &:hover {
        text-decoration: none;
    }
}

.bg-grey {
    background-color: $primaryGrey !important;
}

.text-yellow {
    color: $primaryYellow !important;
}
